## Домашнее задание 06.

### Задание 1. 
* Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера.
* Определите какому фильму было выставлено больше всего оценок 5.0.

In [5]:
import pandas as pd
# Считываем данные из файлов
ratings_df = pd.read_csv('ratings.csv')
movie_df = pd.read_csv('movies.csv')
# Объединяем базу фильмов с базой рейтингов, в которых оценка равна 5
joined = movie_df.merge(ratings_df[ ratings_df.rating == 5 ], on='movieId', how='left')
# Выбираем самый лучший фильм
joined['title'].value_counts().head(1)

Shawshank Redemption, The (1994)    153
Name: title, dtype: int64

### Задание 2
По данным файла **power.csv** посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года.  
Не учитывайте в расчетах отрицательные значения **quantity**.

In [9]:
data = pd.read_csv('power.csv')
filtered_countries = data[((data['country']=='Lithuania')|(data['country']=='Estonia')|(data['country']=='Latvia'))& \
                          (data['quantity'] >= 0)& \
                          ((data['category']== 4)|(data['category']== 12)|(data['category']== 21))& \
                          ((data['year'] >= 2005) & (data['year'] <= 2010)) ]
filtered_countries['quantity'].sum()

240580.0

### Задание 3
Выберите страницу любого сайта с табличными данными.  
Импортируйте таблицы в pandas dataframe.  
Примеры страниц (необязательно брать именно эти):  
https://best-novostroy.ru/realty/novostroyki_moscow/sao/zhk_zorge_9/buy_kvartira/

In [10]:
data = pd.read_html("https://best-novostroy.ru/realty/novostroyki_moscow/sao/zhk_zorge_9/buy_kvartira/")[0]
data.head()

,Квартира,Корпус,Секция,Этаж,Площадь,Цена
0,1 комната,3,1,8,27.14 кв.м,5 166 000 ₽
1,1 комната,3,1,9,27.14 кв.м,5 208 000 ₽
2,1 комната,3,1,10,27.14 кв.м,5 250 000 ₽
3,1 комната,3,1,6,28.2 кв.м,5 260 500 ₽
4,1 комната,3,1,11,27.64 кв.м,5 376 000 ₽